<form (ngSubmit)="saveItem()" [formGroup]="workItemForm">
    <div class="full-width">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Project Name</mat-label>
            <input formControlName="project" matInput placeholder="Name of the project"
                    data-testid="input-project-name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date</mat-label>
            <input [matDatepicker]="startdate" formControlName="date" matInput
                   data-testid="input-start-date">
            <mat-datepicker-toggle [for]="startdate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #startdate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Start</mat-label>
            <input formControlName="start" matInput placeholder="Start"
                   data-testid="input-start-time">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>End</mat-label>
            <input formControlName="end" matInput placeholder="End"
                   data-testid="input-end-time">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Comment</mat-label>
            <input formControlName="comment" matInput placeholder="Comment"
                   data-testid="input-comment">
        </mat-form-field>
    </div>
    <mat-card-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button [disabled]="!workItemForm.valid" color="primary" mat-raised-button type="submit"
                data-testid="save-button">
          Save</button>
    </mat-card-actions>
</form>

<button mat-raised-button (click)="addPicture()">Add Picture</button>
<img *ngIf="img" src="{{img}}" alt="">

