<form [formGroup]="workItemForm" (ngSubmit)="saveItem()">
    <div class="full-width">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Projekt Name</mat-label>
            <input formControlName="project" matInput placeholder="Name des Projektes">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Datum</mat-label>
            <input formControlName="date" matInput [matDatepicker]="startdate">
            <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
            <mat-datepicker #startdate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Start</mat-label>
            <input placeholder="Start" matInput formControlName="start" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Ende</mat-label>
            <input placeholder="Ende" matInput formControlName="end">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Kommentar</mat-label>
            <input formControlName="comment" matInput placeholder="Kommentar">
        </mat-form-field>
    </div>
    <mat-card-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!workItemForm.valid">Save</button>
    </mat-card-actions>
</form>

