<div *ngIf="workItems; else noProjects" >
    <table class="example-container mat-elevation-z8"mat-table [dataSource]="workItems">
        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef>Projekt Name</th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Start</th>
            <td mat-cell *matCellDef="let element"> {{element.start | date:'medium'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef>Ende</th>
            <td mat-cell *matCellDef="let element"> {{element.end | date: 'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Kommentar</th>
            <td mat-cell *matCellDef="let element"> {{element.comment }} </td>
        </ng-container>

          <ng-container matColumnDef="edit">
         <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"><button mat-button (click)="editItem(element._id)" >Edit</button> </td>
          </ng-container>

          <ng-container matColumnDef="delete">
           <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"><button mat-button (click)="deleteItem(element._id)" >Delete</button> </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


<ng-template #noProjects>
    No working time recorded yet
</ng-template>



