<div *ngIf="workItems; else noProjects">
    <table [dataSource]="workItems" class="example-container mat-elevation-z8" mat-table>
        <ng-container matColumnDef="project">
            <th *matHeaderCellDef mat-header-cell>Projekt Name</th>
            <td *matCellDef="let element" mat-cell> {{element.project}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="start">
            <th *matHeaderCellDef mat-header-cell>Start</th>
            <td *matCellDef="let element" mat-cell> {{element.start | date:'medium'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="end">
            <th *matHeaderCellDef mat-header-cell>Ende</th>
            <td *matCellDef="let element" mat-cell> {{element.end | date: 'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th *matHeaderCellDef mat-header-cell>Kommentar</th>
            <td *matCellDef="let element" mat-cell> {{element.comment }} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="editItem(element._id)" mat-button>Edit</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="deleteItem(element._id)" mat-button>Delete</button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</div>


<ng-template #noProjects>
    No working time recorded yet
</ng-template>



